.divPrincipal {
    position: fixed;
    top: 0px;
    margin: 0;
    width: 18vw;
    left: 0px;
    background-color: gainsboro;
    height: 100vh;
    z-index: -1;
}

.span {
    display: inline-block;
    padding: 0px 5px;
    width: 100px;
    margin: 2px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer
}

.span:hover {
    background-color: rgb(187, 187, 187);
}

.firsth4 {
    margin: 0px;
    padding: 5px;
    padding-top: 60px;
}