.divPrincipal {
    display: block;
    height: 55px;
    background-color: rgb(86, 221, 158);
    box-shadow: 0px 1px 10px black;
}

.input {
    position: absolute;
    font-size: 15px;
    border-radius: 5px;
    height: 27px;
    width: 250px;
    right: 0px;
    margin: 10px;
    background-color: rgba(221, 221, 221, 0.904);
}
.button {
    position: absolute;
    right: 0px;
}

.link {
    /* position: absolute; */
    font-size: larger;
    color: black;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.link:nth-child(1) {
    position: absolute;
    left: 15px;
    border-right: 1px solid rgb(47, 56, 52);
}
